<!DOCTYPE html>
<html>
  <head>
    <title>Crop Recommender</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="home.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--=======================navbar=====================================================-->
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: green"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/templates/index.html">FarmEasy</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/templates/index.html"
                >Prediction</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/templates/home.html"
                >Recommendation</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--===============================================================================-->
    <div class="form-container">
      <!-- <span class="text-success">🌱</span> -->

      <form
        class="recommendation-form"
        method="POST"
        action="{{ url_for('predict') }}"
      >
        <h3 class="form-heading">Crop Recommendation form</h3>

        <div class="input-group-container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label for="Nitrogen">Nitrogen</label>
              <input
                type="number"
                id="Nitrogen"
                name="Nitrogen"
                placeholder="Enter Nitrogen"
                class="form-control"
                required
              />
            </div>

            <div class="col-md-6 col-sm-12">
              <label for="Phosporus">Phosphorus</label>
              <input
                type="number"
                id="Phosporus"
                name="Phosporus"
                placeholder="Enter Phosphorus"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label for="Potassium">Potassium</label>
              <input
                type="number"
                id="Potassium"
                name="Potassium"
                placeholder="Enter Potassium"
                class="form-control"
                required
              />
            </div>
            <div class="col-md-6 col-sm-12">
              <label for="Temperature">Temperature</label>
              <input
                type="number"
                step="0.01"
                id="Temperature"
                name="Temperature"
                placeholder="Enter Temperature in °C"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label for="Humidity">Humidity</label>
              <input
                type="number"
                step="0.01"
                id="Humidity"
                name="Humidity"
                placeholder="Enter Humidity in %"
                class="form-control"
                required
              />
            </div>
            <div class="col-md-6 col-sm-12">
              <label for="pH">pH</label>
              <input
                type="number"
                step="0.01"
                id="pH"
                name="pH"
                placeholder="Enter pH value"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label for="Rainfall">Rainfall</label>
              <input
                type="number"
                step="0.01"
                id="Rainfall"
                name="Rainfall"
                placeholder="Enter Rainfall in mm"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>

        <div class="btn-container">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success">
              Get Recommendation
            </button>
          </div>
        </div>
        <div style="visibility: hidden">{% if prediction %}</div>
        <div class="output-container hidden block">
          <div class="predict">
            The Recommended crop to grow is:-

            <span class="output">{{prediction }}</span>
          </div>
        </div>
      </form>

      <!-- <div class="card bg-dark" style="width: 18rem">
         filename="/static/img/{{ prediction }}.avif" -->
      <!-- <img src="{{url_for('static', filename='img/'+prediction+'.avif')}}" class="card-img-top" alt="..."> -->
      <!-- <img src="/static/img/{{prediction}}.avif" class="card-img-top" alt="..."> -->
      <!-- <img src="/static/img/crop.jpeg" alt="Custom Image" />
        <div class="card-body">
          <h5 class="card-title">Recommend Crop</h5>
          <p class="card-text">{{prediction }}</p>
        </div>
      </div>  -->
      <div style="visibility: hidden">{% endif %}</div>
    </div>
  </body>
</html>
